src/wsdl/localhost_8084/webService/Usuarios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.mycompany.com/" name="Usuarios">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.mycompany.com/" schemaLocation="http://localhost:8084/webService/Usuarios?xsd=1"/>
</xsd:schema>
</types>
<message name="findEmailPasswer">
<part name="parameters" element="tns:findEmailPasswer"/>
</message>
<message name="findEmailPasswerResponse">
<part name="parameters" element="tns:findEmailPasswerResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findIdNacional">
<part name="parameters" element="tns:findIdNacional"/>
</message>
<message name="findIdNacionalResponse">
<part name="parameters" element="tns:findIdNacionalResponse"/>
</message>
<message name="findId">
<part name="parameters" element="tns:findId"/>
</message>
<message name="findIdResponse">
<part name="parameters" element="tns:findIdResponse"/>
</message>
<portType name="Usuarios">
<operation name="findEmailPasswer">
<input wsam:Action="http://webservice.mycompany.com/Usuarios/findEmailPasswerRequest" message="tns:findEmailPasswer"/>
<output wsam:Action="http://webservice.mycompany.com/Usuarios/findEmailPasswerResponse" message="tns:findEmailPasswerResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://webservice.mycompany.com/Usuarios/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://webservice.mycompany.com/Usuarios/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findIdNacional">
<input wsam:Action="http://webservice.mycompany.com/Usuarios/findIdNacionalRequest" message="tns:findIdNacional"/>
<output wsam:Action="http://webservice.mycompany.com/Usuarios/findIdNacionalResponse" message="tns:findIdNacionalResponse"/>
</operation>
<operation name="findId">
<input wsam:Action="http://webservice.mycompany.com/Usuarios/findIdRequest" message="tns:findId"/>
<output wsam:Action="http://webservice.mycompany.com/Usuarios/findIdResponse" message="tns:findIdResponse"/>
</operation>
</portType>
<binding name="UsuariosPortBinding" type="tns:Usuarios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findEmailPasswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findIdNacional">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Usuarios">
<port name="UsuariosPort" binding="tns:UsuariosPortBinding">
<soap:address location="http://localhost:8084/webService/Usuarios"/>
</port>
</service>
</definitions>